# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# MyPy, Pyre, Pytype type checker reports
.mypy_cache/
.pyre/
.pytype/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# dotenv environment files
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# Poetry
poetry.lock

# Pydantic or other compiled schemas
*.schema.json
